$navy: #13293D;
$orange: #F5A623;
$green: #75BD25;
$purple: #973080;
$offwhite: #FAFAFA;
$offblack: #232323;
$gray: #3D3D3D;

@media (max-device-width: 480px) {

    .mobile-hide {
        display: none !important;
    }

    .disable-scroll {
        overflow:hidden;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        font-family: source-sans-pro, serif;
    }

    .email-result-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $navy;
        height: 100vh;
        h1 {
            margin-top: 20vh;
            width: 70%;
            color: white;
            text-align: center;
            font-weight: 700;
            font-size: 4vh;
            padding-bottom: 15px;
            padding-left: 30px;
            padding-right: 30px;
            border-bottom: 0.1em solid white;
        }
        a {
            margin-left: 10px;
            margin-right: 10px;
            height: 2em;
            padding-left: 0.8em;
            padding-right: 0.8em;
            padding-top: 0.6em;
            padding-bottom: 0;
            color: white;
            border: none;
            font-weight: 700;
            font-size: 3vh;
            border-radius: 8px;
            background-color: $orange;
            text-decoration: none;
        }
        a:hover {
            cursor: pointer;
            background-color: #b66c17;
        }
    }

    .dimmer {
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 25;
        animation: fadeInFromNone 0.2s ease-out;

        @keyframes fadeInFromNone {
            0% {
                display: none;
                opacity: 0;
            }
        
            1% {
                display: block;
                opacity: 0;
            }
        
            100% {
                display: block;
                opacity: 1;
            }
        }
    }

    .video-container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: transparent;
        background-color: transparent;
        z-index: 30;
        #video-info-dialog {
            background-color: white;
            height: 70vh;
            width: 90vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                font-weight: 900;
                font-size: 3vh;
                text-align: center;
                color: $navy;
                width: 90%;
            }
            .form_fields {
                height: 31vh;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .upper_form {
                    width: 45%;
                    height: 4vh;
                    padding-left: 3px;
                    padding-right: 3px;
                    margin: 1px;
                }
                .lower_form {
                    width: 90%;
                    height: 4vh;
                    border: 0;
                    padding-left: 7px;
                    padding-right: 7px;
                    margin: 1px;
                }
                textarea {
                    width: 91%;
                    height: 12vh;
                    padding-left: 7px;
                    padding-right: 7px;
                    padding-top: 10px;
                    resize: none;
                }
                textarea::placeholder {
                    font-family: raleway, sans-serif;
                }
            }
            
            .button-group {
                margin-top: 2vh;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: space-evenly;
                button {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding-left: 0.8em;
                    padding-right: 0.8em;
                    color: white;
                    height: 1.5em;
                    border: none;
                    font-weight: 700;
                    font-size: 3vh;
                    border-radius: 5px;
                    background-color: $navy;
                }
                a {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding-left: 0.8em;
                    padding-right: 0.8em;
                    color: white;
                    height: 1.5em;
                    border: none;
                    font-weight: 700;
                    font-size: 3vh;
                    border-radius: 5px;
                    background-color: $navy;
                }
                #video-submit:hover {
                    cursor: pointer;
                    background-color: #3481a1;
                }
                #video-cancel {
                    background-color: #df5119;
                }
                #video-cancel:hover {
                    cursor: pointer;
                    background-color: #c54816;
                }
            }
        }
    }

    .scroll-anchor {
        position: absolute;
        width: 100%;
        height: 0 !important;
    }

    p {
        font-size: 2vh;
        color: $offblack;
        line-height: 1.5em;
        font-weight: 600;
    }

    ul {
        li {
            font-size: 2vh;
            list-style: none;
            font-family: source-sans-pro, serif;
            font-weight: 600;
            color: $gray;
        }
        li::before{
            content: "\2022";
            color: $orange;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            font-size: 3vh;
            margin-left: -1em;
        }
    }

    .hide-mobile-nav {
        top: 0 !important;
        left: -75vw !important;
        
    }

    .open-button {
        background-image: url("/assets/OpenNav.svg") !important;
    }

    .mobile-nav {
        animation: nav-slide 0.2s ease-in-out;
        @keyframes nav-slide {
            from {
                left: -75vw;
            }
            to {
                left: 0vw;
            }
        }
    }

    #mobile-nav {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 95vw;
        z-index: 25;
        .nav-background {
            position: absolute;
            height: 100vh;
            width: 75vw;
            background-color: $orange;
            .link-container {
                margin: 0 auto;
                height: 80vh;
                margin-top: 18vh;
                a {
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 4vh;
                    text-align: center;
                }
            }
        }
        #mobile-nav-button {
            position: absolute;
            top: 16vh;
            left: 74vw;
            width: 10vw;
            height: 10vw;
            background-image: url("/assets/CloseNav.svg");
            background-position: bottom left;
            background-repeat: no-repeat;
            background-size: 10vw;
        }
    }

    #title-section {
        width: 100%;
        height: 15vh;
        margin: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 10;
        align-items: center;
        background-color: $navy;
        padding: 0;
        box-shadow: 5px 5px 12px 7px rgba(0,0,0,0.2);
        .title-container {
            top: 1vw;
            position: fixed;
            width: 80vw;
            left: 10vw;
            font-family: source-serif-pro, serif;
            color: white;
        }
        .title-default {
            font-family: source-serif-pro-semi, serif;
            font-size: 2vh;
            line-height: 1.8em;
            font-weight: bold;
            text-align: center;
            h1 {
                border-bottom: 4px $orange solid;
                padding-bottom: 2vh;
                padding-left: 1vw;
            }
        }
        #matrix-title {
            font-family: source-serif-pro, serif;
            text-align: center;
            margin: 0 auto;
            h1 {
                width: 90%;
                margin: 0;
                border-bottom: 0.1em $orange solid;
                margin: 0 auto;
                .matrix-header {
                    font-family: source-serif-pro-semi, serif;
                    font-style: normal;
                    font-size: 3vh;
                }
                .matrix-phonetics {
                    font-weight: 400;
                    font-size: 2vh;
                    color: $orange;
                }
            }
            p {
                margin: 0 auto;
                margin-top: 5px;
                color: white;
                font-size: 1.7vh;
                width: 90%;
            }
        }
        #patients-title {
            margin: 0 auto;
            margin-top: 3vh;
            text-align: center;
            h1 {
                font-family: source-serif-pro-semi, serif;
                color: white;
                font-size: 6vw;
                line-height: 1em;
                padding-bottom: 2vh;
                border-bottom: 5px $orange solid;
                margin: 0 auto;
                span {
                    font-size: 3.5vh;
                }
            }
        }
    }
    #content-section {
        width: 100vw;
        margin: 0;
        margin-top: 15vh;
        background-color: $offwhite;
        nav {
            width: 60vw;
            position: fixed;
            height: 8vh;
            background-color: whitesmoke;
            z-index: 15;
            box-shadow: 5px 5px 12px 7px rgba(0,0,0,0.1);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            a {
                text-decoration: none;
                color: black;
            }
        }

        #matrix-title-content {
            display: flex;
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 10vh;
            .landing-design {
                width: 95%;
                border: none;
                margin-top: 10vh;
                margin-bottom: 10vh;
            }
            .co-create-container {
                width: 100%;
                height: auto;
                background-color: $orange;
                h2 {
                    color: white;
                    font-weight: 900;
                    width: 95%;
                    font-size: 5.5vh;
                    text-align: center;
                    padding: 0;
                    height: 7vh;
                    margin: 0;
                    margin-top: 5vh;
                    margin-bottom: 10vh;
                }
                .landing-header-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 95%;
                    .landing-header {
                        color: white;
                        text-align: center;
                        width: 100%;
                        margin-bottom: 5vh;
                        h3{
                            border-bottom: 0.1em white solid;
                            width: 70%;
                            margin-bottom: 1vh;
                            font-size: 3vh;
                        }
                        h4 {
                            width: 70%;
                            margin-top: 0;
                            font-size: 2vh;
                        }
                    }
                }
                .down-arrow {
                    width: 4vh;
                }
            }
        }

        #about-title-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin-bottom: 5vh;
            .inline-blocks {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 0;
                img {
                    width: 35vw;
                }
            }
            .about-text {
                position: relative;
                width: 90%;
                #about-scroll-anchor {
                    top: -17vh;
                }
                h1 {
                    font-size: 5vh;
                    border-bottom: 0.1em black solid;
                    width: 90%;
                    margin-bottom: 0;
                }
                p {
                    font-family: source-sans-pro, sans-serif;
                    font-weight: 600;
                    color: $gray;
                    font-size: 2.5vh;
                }
            }
            img {
                width: 40vw;
                align-self: flex-end;
            }
        }

        #patient-title-content {
            display: flex;
            width: 100%;
            flex-direction: column;
            height: 115vh;
            align-items: center;
            margin-bottom: 10vh;
            .patients-blurb {
                position: relative;
                width: 80%;
                border-radius: 10px;
                background-color: $navy;
                padding: 2vh;
                margin: 0 auto;
                #patient-scroll-anchor {
                    top: -20vh;
                }
                p {
                    text-align: center;
                    color: white;
                    font-weight: bold;
                    font-size: 2.3vh;
                    margin: 0;
                }
            }
            .patient-features {
                width: 90%;
            }
        }

        #clinicians-title-content {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            width: 95%;
            margin: 0 auto;
            position: relative;
            #clinicians-scroll-anchor {
                position: absolute;
                top: -15vh;
            }
            p {
                width: 90%;
                text-align: center;
                font-size: 2.5vh;
                color: $offblack;
                line-height: 1.5em;
                font-weight: 600;
            }
            .mobile-column-reverse {
                flex-direction: column-reverse !important;
            }
            .clinician-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                margin-bottom: 5vh;
                .clinician-card {
                    width: 90%;
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: 3px 3px 12px 7px rgba(177, 177, 177, 0.1);
                    padding: 2vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h2 {
                        margin-top: 1vh;
                        margin-bottom: 0;
                        text-align: center;
                        width: 90%;
                    }
                    .green-title {
                        color: $green;
                        border-bottom: 0.1em $green solid;
                    }
                    .orange-title {
                        color: $orange;
                        border-bottom: 0.1em $orange solid;
                    }
                    .purple-title {
                        color: $purple;
                        border-bottom: 0.1em $purple solid;
                    }
                    p {
                        width: 90%;
                        text-align: left;
                        margin-top: 2vh;
                        color: $offblack;
                        font-size: 2vh;
                    }
                }
                img {
                    width: 50%;
                }
            }
            .clinician-header {
                color: white;
                text-align: center;
                font-size: 1.5vh;
                background-color: $navy;
                width: 90%;
                h2 {
                    text-align: center;
                }
            }
            .clinician-features {
                width: 95%;
            }
        }

        #pag-title-content {
            position: relative;
            margin-bottom: 15vh;
            #pag-scroll-anchor {
                top: -5vh;
            }
            img {
                width: 60%;
                margin: 0;
            }
            .pag-info {
                width: 80%;
                padding-left: 2vh;
                padding-right: 2vh;
                color: white;
                background-color: $navy;
                text-align: center;
                font-size: 1.5vh;

            }
            .pag-features {
                width: 90%;
            }
        }

        #researchers-title-content {
            width: 95%;
            margin: 0 auto;
            margin-bottom: 15vh;
            height: 80vh;
            position: relative;
            #researchers-scroll-anchor {
                top: -15vh;
            }
            img {
                width: 100%;
            }
            .content-card {
                width: 90%;
                h2 {
                    margin: 0 auto;
                    font-size: 2vh;
                    padding: 1vw;
                    margin-top: 1vh;
                    text-align: center;
                    width: 90%;
                    color: $offblack;
                }
            }
            .researcher-features {
                width: 95%;
                li::before{
                    color: $green;
                }
            }
            .green-line {
                border-bottom: 1vw $green solid;
                width: 100%;
            }
        }

        #our-story-title-content {
            margin: 0 auto;
            position: relative;
            margin-bottom: 10vh;
            width: 80%;
            padding: 2vh;
            #our-story-scroll-anchor {
                top: -15vh;
            }
            p {
                width: 95%;
                margin-left: 2%;
                color: $gray;
            }
        }

        #clients-title-content {
            width: 95%;
            margin: 0 auto;
            height: 70vh;
            margin-bottom: 10vh;
            .quote-card {
                position: relative;
                width: 85%;
                padding-left: 1vw;
                padding-right: 1vw;
                #clients-scroll-anchor {
                    top: -25vh;
                }
                #quotation-mark {
                    position: absolute;
                    width: 20%;
                    top: -3vh;
                    right: 5vw;
                }
                #mws-logo {
                    width: 60%;
                    margin-top: 2vh;
                    margin-left: 1vh;
                }
                p {
                    padding-left: 2vh;
                    padding-right: 2vh;
                }
            }

            .client-logos {
                height: 30vh;
                display: flex;
                align-items: center;
                width: 90%;
            }
        }

        #contact-title-content {
            width: 95%;
            height: 90vh;
            margin: 0 auto;
            position: relative;
            #contact-scroll-anchor {
                position: absolute;
                top: -15vh;
            }
            img {
                width: 80%;
            }
            .across-content {
                background-color: #57833E;
                text-align: center;
                width: 90%;
                margin: 0;
                p {
                    color: white;
                }
            }
            h2 {
                width: 90%;
                font-size: 2vh;
                font-weight: 600;
                text-align: center;
                margin: 0;
            }
            .contact-form {
                width: 90%;
                .form_fields {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    font-family: raleway, sans-serif;
                    .upper_form {
                        width: 45%;
                        height: 4vh;
                        padding-left: 3px;
                        padding-right: 3px;
                        margin: 1px;
                        border: 0;
                        outline: none;
                    }
                    .lower_form {
                        width: 90%;
                        height: 4vh;
                        border: 0;
                        padding-left: 7px;
                        padding-right: 7px;
                        margin: 1px;
                        border: 0;
                        outline: none;
                    }
                    textarea {
                        width: 90%;
                        height: 12vh;
                        border: 0;
                        padding-left: 7px;
                        padding-right: 7px;
                        padding-top: 10px;
                        margin: 1px;
                        border: 0;
                        resize: none;
                    }
                    textarea::placeholder {
                        font-family: raleway, sans-serif;
                    }
                }
                .submit_button {
                    background-color: $navy;
                    color: white;
                    padding: 14px 20px;
                    margin-right: 5%;
                    margin-top: 10px;
                    float: right;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .content-card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 3px 3px 12px 7px rgba(177, 177, 177, 0.1);
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .hide {
        display: none !important;
    }

    .orange {
        color: $orange;
    }

}